{% extends 'template.html.twig' %}

{% block css %}
	<link rel="stylesheet" href="assets/css/accueil.css">
{% endblock %}

{% block body %}
<div class="container py-5">
	<img class="mb-5 d-block mx-auto" style="height:80px;" src="assets/images/parcoursup.png" alt="Importer" class="img-fluid">
	
	<div class="cards-container" style="margin-top:80px;">
		<div class="card app-card p-4 shadow-sm">
			<a class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#importModal">
				<div class="text-center">
					<div class="card-img-container mb-4">
						<img src="assets/images/telecharger.png" alt="Importer" class="img-fluid">
					</div>
					<h3>Importer</h3>
					<p class="text-muted">Importer une nouvelle année</p>
				</div>
			</a>
		</div>

		<div class="card app-card p-4 shadow-sm">
			<a href="/gestionParcourSup" class="text-decoration-none">
				<div class="text-center">
					<div class="card-img-container mb-4">
						<img src="assets/images/base-de-donnees.png" alt="Base de Données" class="img-fluid">
					</div>
					<h3>Base de données</h3>
					<p class="text-muted">Gestion de la base de données et calcul des notes</p>
				</div>
			</a>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="importModalLabel">Importer une nouvelle année</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
			</div>
			<div class="modal-body text-center">
				<form action="/importer" method="post" enctype="multipart/form-data">
					<label class="form-label d-block mb-3">
						📥 <input type="file" name="fichier" class="form-control" required>
					</label>

					<div class="mb-3">
						<select class="form-select" name="annee" required>
							<option value="">Choisissez une année</option>
							<option value="2022/2023">2022/2023</option>
							<option value="2023/2024">2023/2024</option>
						</select>
					</div>

					<button type="submit" class="btn btn-primary">Confirmer</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
