/* Styles pour les cartes de l'accueil */
.cards-container
{
	display: flex;
	justify-content: center;
	gap: 200px; /* Espacement fixe de 200px entre les cartes */
	margin-top: 5rem;
}

.app-card
{
	transition: all 0.3s ease;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	background: white;
	width: 250px;
}

.app-card:hover
{
	transform: translateY(-10px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
}

.app-card .card-img-container
{
	padding: 1rem;
	margin-bottom: 2rem;
}

.app-card img
{
	max-width: 120px;
	height: auto;
	transition: transform 0.3s ease;
}

.app-card:hover img
{
	transform: scale(1.1);
}

.app-card h3
{
	color: #243342;
	font-size: 1.3rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.app-card p
{
	font-size: 0.9rem;
	margin-bottom: 0;
}

.welcome-title
{
	color: #243342;
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 5rem;  /* Augmentation de la marge en bas du titre */
}

/* Espacement personnalisé */
.gap-10
{
	gap: 10rem !important;
}