/* Header styles */
.navbar
{
	background-color: #536878;
	height: 80px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.navbar-brand
{
	color: white;
	font-size: 2rem;
}

.navbar-brand:hover
{
	color: #f8f9fa;
}

.navbar-text
{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: white;
}

.admin-icon
{
	height: 30px;
	width: auto;
	vertical-align: middle;
	margin-right: 5px;
}

/* Footer styles */
footer
{
	background-color: #536878;
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 1rem 0;
	z-index: 1000;
}

.footer-logo
{
	flex: 1;
}

.footer-logo img
{
	height: 60px;
	width: auto;
}

.footer-space
{
	flex: 1;
}