{% extends 'template.html.twig' %}

{% set hideHeader = true %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 62vh;">
	<div class="card p-4 shadow-sm" style="width: 100%; max-width: 400px;">
		<h2 class="text-center mb-5">Connexion</h2>
		
		{% if error %}
			<div class="alert alert-danger">
				{{ error }}
			</div>
		{% endif %}
		{% if success %}
			<div class="alert alert-success">
				{{ success }}
			</div>
		{% endif %}
		
		<form method="post" action="/login">
			<div class="mb-4">
				<input type="email" class="form-control rounded-pill" id="email" name="email" placeholder="Adresse mail" required>
			</div>
			
			<div class="mb-4">
				<input type="password" class="form-control rounded-pill" id="password" name="password" placeholder="Mot de passe" required>
			</div>
			
			<div class="d-grid gap-2">
				<button type="submit" class="btn btn-primary rounded-pill">Se connecter</button>
			</div>
		</form>
		
		<hr class="my-4 mb-4 mt-4">
		
		<div class="text-center">
		<p> Vous n'avez pas de compte ?</p>
			<a href="/register" class="btn btn-success rounded-pill w-100">Créer un compte</a>
		</div>
	</div>
</div>
{% endblock %}
