{% extends 'template.html.twig' %}

{% set hideHeader = true %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 62vh;">
	<div class="card p-4 shadow-sm" style="width: 100%; max-width: 400px;">
		<h2 class="text-center mb-5">Inscription</h2>
		
		{% if errors %}
			<div class="alert alert-danger">
				{% for error in errors %}
					<p class="mb-0">{{ error }}</p>
				{% endfor %}
			</div>
		{% endif %}
		
		<form method="post" action="register.php">
			<div class="row mb-4">
				<div class="col">
					<input type="text" class="form-control rounded-pill" name="prenom" placeholder="Prénom" required>
				</div>
				<div class="col">
					<input type="text" class="form-control rounded-pill" name="nom" placeholder="Nom" required>
				</div>
			</div>
			
			<div class="mb-4">
				<input type="email" class="form-control rounded-pill" name="email" placeholder="Adresse mail" required>
			</div>
			
			<div class="mb-4">
				<input type="password" class="form-control rounded-pill" name="password" placeholder="Mot de passe" required>
			</div>

			<div class="mb-4">
				<input type="password" class="form-control rounded-pill" name="password" placeholder="Confirmer le mot de passe" required>
			</div>
			
			<div class="d-grid">
				<button type="submit" class="btn btn-success rounded-pill">S'inscrire</button>
			</div>

			<hr class="my-4 mb-4 mt-4">

			<div class="text-center">
				<p> Vous avez déjà un compte ?</p>
				<a href="/" class="btn btn-primary rounded-pill w-100">Se connecter</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}